.my_posts {
  margin-top: 50px;
  padding: 20px;
  width: 90%;
}
.add_post_btn {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

h2 {
  color: #5A4E69;
  text-transform: uppercase;
}

textarea {
  width: 90%;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #5A4E6950;
  margin-bottom: 10px;
  background-color: #f7f7f7;
}

textarea:focus {
  outline: none;
  border: 1px solid #5A4E69;
}

button {
  border: 2px solid #5A4E69;
  color: #5A4E69;
  border-radius: 4px;
  padding: 6px 14px;
  font-size: 18px;
  background-color: #ffffff;
  cursor: pointer;
}

button:hover {
  border: 2px solid #5A4E69;
  color: #ffffff;
  background-color: #5A4E69;
}

button:disabled {
  cursor: default;
  border: 2px solid #e2e2e2;
  color: #e2e2e2;
}

button:hover:disabled {
  cursor: default;
  border: 2px solid #e2e2e2;
  color: #e2e2e2;
  background-color: #ffffff;
}

.posts {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
